@using GPO_BLAZOR.Client.Class.Date

<link href="GPO_BLAZOR.styles.css" rel="stylesheet" type="text/css">



    <div class="" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="">
            

                <NavLink class="" href="" Match="NavLinkMatch.All">
                    <button @onclick="StatmentDate.Restore" class="" value="Справка" style="margin-left: 40p" >
                        Заявления
                    </button>
                </NavLink>
            

            
                <NavLink class="" href="counter">
                    <button class="" value="Второе что-то" >
                        Второе что-то
                    </button>
                </NavLink>

            
                <NavLink class="" href="weather">
                    <button class="" value="Третье">
                        Третье
                    </button>
                </NavLink>



                
            

        </nav>
    </div>


@code
{


}

