@using GPO_BLAZOR.Client.Parts
@using GPO_BLAZOR.Client.Class.Date
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager Navigation



@page "/"
<div>
<PageTitle>Таблица заявлений</PageTitle>

<table>
    <thead>
        <tr>
            <td>
                Создано
            </td>
            <td>
                Вид практики
            </td>
            <td>
                Статус
            </td>
            <td>

            </td>
        </tr>
    </thead>
    <tbody>
        @if (isLoadind)
        {
            @if (Date != null)
            {
                @foreach (StatmentDate temp in Date)
                {
                    <Label Date="temp" ViemStatmen="Click"/>
                }

            }
            else
            {
                <tr>
                    <td colspan="4">
                        <h3>Данные отсутствуют</h3>
                    </td>
                </tr>
            }

        }
        else
        {
            <tr>
                <td colspan="4">
                    <h3>Загрузка данных</h3>
                </td>
            </tr>
        }

    </tbody>
</table>
</div>

<input type="button" value="Создать" @onclick="NewPost"/>


